#messageSuccess
{
	color: green;
	text-align: center;
}

#messageError
{
	color: red;
	text-align: center;
}

.boxConta
{
	width: 300px;
}

.boxCategoria{
	width: 300px;
}

.positivo
{
	color: green;
}

.negativo
{
	color: red;	
}

.destaque
{
	font-size: 14px;
}

#destaqueSaldo
{
	font-size: 22px;
}

#tituloIndex
{
	text-align: center;
}